<div class="home-container">
  <img class="wave-img" src="/assets/wave.svg" alt="error" />
  <div class="rows">
    <div class="cols">
      <H1>DoConnect</H1>
      <p class="heading-p">
        Asking question is the first way to begin the change
      </p>
      <div class="links">
        <button>
          <a
            routerLink="/register"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          >
            Sign Up</a
          >
        </button>
        <button>
          <a
            routerLink="/login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          >
            Login here
          </a>
        </button>
      </div>
    </div>
    <div class="cols mx-2">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <div
              class="card text-bg-dark card-trans"
              style="width: 200px; height: 230px"
            >
              <img src="/assets/card1.svg" class="card-img" alt="..." />
            </div>
          </div>
          <div class="col-4">
            <div
              class="card text-bg-dark card-trans"
              style="width: 200px; height: 230px"
            >
              <img src="/assets/card2.svg" class="card-img" alt="..." />
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-4">
            <div
              class="card text-bg-dark card-trans"
              style="width: 200px; height: 230px"
            >
              <img src="/assets/card3.svg" class="card-img" alt="..." />
            </div>
          </div>
          <div class="col-4">
            <div
              class="card text-bg-dark card-trans"
              style="width: 200px; height: 230px"
            >
              <img src="/assets/card4.svg" class="card-img" alt="..." />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


