<div class="body">
  <img class="wave-img" src="/assets/wave.svg" alt="error" />
  <div class="register">
    <div class="answer-img">
      <img src="/assets/sign.svg" alt="error" />
    </div>
    <div class="sign-container">
      <form
        ngNativeValidate
        #userregister="ngForm"
        (ngSubmit)="userRegister(userregister.value)"
      >
        <img class="avatar" src="/assets/avatar.svg" alt="error" />
        <h2>Register</h2>

        <div>
          <div class="input-div">
            <input
              ngModel
              name="fName"
              type="text"
              class="form-control input-fields"
              placeholder="First name"
              aria-label="First name"
              required
            />
          </div>
        </div>
        <div class="mb-1">
          <div class="input-div">
            <input
              ngModel
              name="lName"
              type="text"
              class="form-control input-fields"
              placeholder="Last name"
              aria-label="Last name"
              required
            />
          </div>
        </div>

        <div class="mb-1">
          <div class="input-div">
            <input
              ngModel
              name="email"
              type="email"
              class="form-control input-fields"
              id="formGroupExampleInput"
              placeholder="Email"
              required
            />
          </div>
        </div>
        <div class="mb-1">
          <div class="input-div">
            <input
              ngModel
              name="password"
              type="password"
              class="form-control input-fields"
              id="formGroupExampleInput2 "
              placeholder="Password"
              required
              minlength="8"
            />
          </div>
        </div>
        <div class="mb-1">
          <div class="input-div">
            <input
              ngModel
              name="mNumber"
              type="text"
              class="form-control input-fields"
              id="formGroupExampleInput2"
              placeholder=" Mobile Number"
              required
              maxlength="10"
              minlength="10"
            />
          </div>
        </div>
        <div class="links">
          <a
            routerLink="/login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          >
            Login here
          </a>
        </div>
        <div class="registerButton">
          <button type="submit" class="btn button me-2">Register</button>
          <input class="btn button" type="reset" value="Reset" />
        </div>
      </form>
    </div>
  </div>
</div>
